@using RWSS.Data.Enum;
@using RWSS.ViewModels.Dashboard
@model EditDeaneryWorkerProfileViewModel

<section class="jumbotron text-center">
    <div class="container-jumbotron">
        <h1 class="jumbotron-heading">Panel użytkownika</h1>
        <div id="line-dashboard" class="line"></div>
        <p id="jumbotron-description-dashboard" class="jumbotron-description">Pulpit nawigacyjny zapewnia cenne informacje i narzędzia, które pomagają efektywnie zarządzać kontem. Podejmij działania już teraz, aby zoptymalizować swoje doświadczenia i jak najlepiej wykorzystać usługę.</p>
        <div id="jumbotron-dashboard-btn" class="btn-container">
            <a href="#dashboard-label-id" class="my-butt">Start</a>
            <a href="#contact-footer" class="my-butt">Kontakt</a>
        </div>
    </div>
</section>

<section class="board">
    <div class="board-container">
        <h1 id="dashboard-label-id" class="dashboard-label">Edytuj profil pracownika dziekanatu</h1>
        <div class="form-group-container">
<form method="post" asp-action="EditDeaneryWorkerProfile" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="PositionCategory">Pozycja w dziekanacie</label>
        <select asp-for="PositionCategory" asp-items="@Html.GetEnumSelectList<PositionCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="PositionCategory" class="text-danger"></span>
    </div>
    <button id="btn-editDeaneryWorkerProfile" type="submit" class="btn btn-primary">Zatwierdź</button>
</form>
</div>
</div>
</section>
