@using RWSS.Data.Enum;
@using RWSS.ViewModels.Dashboard
@model EditStudentProfileViewModel

<section class="jumbotron text-center">
    <div class="container-jumbotron">
        <h1 class="jumbotron-heading">Panel użytkownika</h1>
                <div id="line-dashboard" class="line"></div>
                <p id="jumbotron-description-dashboard" class="jumbotron-description">Pulpit nawigacyjny zapewnia cenne informacje i narzędzia, które pomagają efektywnie zarządzać kontem. Podejmij działania już teraz, aby zoptymalizować swoje doświadczenia i jak najlepiej wykorzystać usługę.</p>
                <div id="jumbotron-dashboard-btn" class="btn-container">
                    <a href="#dashboard-label-id" class="my-butt">Start</a>
                    <a href="#contact-footer" class="my-butt">Kontakt</a>
                </div>
    </div>
</section>

<section class="board">
    <div class="board-container">
        <h1 id="dashboard-label-id" class="dashboard-label">Edytuj profil studenta</h1>
        <div class="form-group-container">
<form method="post" asp-action="EditStudentProfile" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="YearCategory">Rok studiów</label>
        <select asp-for="YearCategory" asp-items="@Html.GetEnumSelectList<YearCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="YearCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="SemesterCategory">Semestr studiów</label>
        <select asp-for="SemesterCategory" asp-items="@Html.GetEnumSelectList<SemesterCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="SemesterCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DegreeCourseCategory">Kierunek studiów</label>
        <select asp-for="DegreeCourseCategory" asp-items="@Html.GetEnumSelectList<DegreeCourseCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="DegreeCourseCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StudiesDegreeCategory">Stopień studiów</label>
        <select asp-for="StudiesDegreeCategory" asp-items="@Html.GetEnumSelectList<StudiesDegreeCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="StudiesDegreeCategory" class="text-danger"></span>
    </div>
    <button id="btn-editStudentProfile" type="submit" class="btn btn-primary">Zatwierdź</button>
</form>
</div>
</div>
</section>
