@model Assignment

<section class="jumbotron text-center">
    <div class="container-jumbotron">
        <h1 class="jumbotron-heading">Panel użytkownika</h1>
        <div id="line-dashboard" class="line"></div>
        <p id="jumbotron-description-dashboard" class="jumbotron-description">Pulpit nawigacyjny zapewnia cenne informacje i narzędzia, które pomagają efektywnie zarządzać kontem. Podejmij działania już teraz, aby zoptymalizować swoje doświadczenia i jak najlepiej wykorzystać usługę.</p>
        <div id="jumbotron-dashboard-btn" class="btn-container">
            <a href="#dashboard-label-id" class="my-butt">Start</a>
            <a href="#contact-footer" class="my-butt">Kontakt</a>
        </div>
    </div>
</section>

<section class="board">
    <div class="board-container">
        <h1 id="dashboard-label-id" class="dashboard-label">Na pewno chcesz usunąć to zadanie?</h1>
        <div class="form-group-container">
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <input type="hidden" value="AppUserId" id="AppUserId" />
    <div class="form-group">
        <label asp-for="Body">Tytuł</label>
        <input asp-for="Body" class="form-control" placeholder="Tytuł">
        <span asp-validation-for="Body" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="DateOfAssignment" class="control-label">Data przypisania</label>
        <input asp-for="DateOfAssignment" class="form-control">
        <span asp-validation-for="DateOfAssignment" class="text-danger"></span>
    </div>
</form>
<div class="form-group">
    <form action="Delete" method="post">
        <input type="hidden" asp-for="Id" />
        <input id="btn-assignment-delete-task" type="submit" value="Zatwierdź" class="btn btn-danger float-right mt-3" />
    </form>
</div>
</div>
</div>
</section>
