@{
    ViewData["Title"] = "Strona główna";
}

<section class="jumbotron text-center">
    <div class="container-jumbotron">
        <h1 class="jumbotron-heading">Rada Wydziałowa Samorządu Studentów</h1>
        <div class="line"></div>
        <p class="jumbotron-description">Rada Wydziału Samorządu Studenckiego to grupa członków wydziału odpowiedzialnych za ocenę i rekomendowanie zmian w programie studiów licencjackich i programów studiów. Reprezentują oni wydział, studentów i pracowników oraz służą jako strażnicy zaangażowania instytucji we wspólne zarządzanie.</p>
      <div class="btn-container">
            <a href="#latest-news" class="my-butt">Wiadomości</a>
        <a href="#contact-footer" class="my-butt">Kontakt</a>
      </div>
    </div>
</section>

<section class="board">
    <div class="board-container">
        <div class="board-container-title">
            <p id="latest-news">OSTATNIE WIADOMOŚCI I WYDARZENIA</p>
        </div>
        <div class="form-group-container">
            <div id="home-container-task">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">Ludzki mózg jest złożonym organem odpowiedzialnym za kontrolowanie i koordynowanie wszystkich funkcji organizmu. Składa się z ponad 100 miliardów neuronów, które komunikują się ze sobą za pomocą sygnałów elektrycznych i chemicznych. Badania wykazały, że mózg jest zdolny do niezwykłej plastyczności, co oznacza, że może dostosowywać się i zmieniać w odpowiedzi na nowe doświadczenia i uczenie się.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Udostępnij</button>
                </div>
                <small class="text-muted">4 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">Proces fotosyntezy jest niezbędny do przetrwania życia roślinnego na Ziemi. Dzięki temu procesowi rośliny przekształcają światło słoneczne, dwutlenek węgla i wodę w glukozę i tlen. Zapewnia to nie tylko energię dla rośliny, ale także wytwarza tlen, którym mogą oddychać inne organizmy.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Udostępnij</button>
                </div>
                <small class="text-muted">9 mins</small>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text">Teoria ewolucji przez dobór naturalny, po raz pierwszy zaproponowana przez Karola Darwina, wyjaśnia, w jaki sposób gatunki zmieniają się i dostosowują w czasie. Stwierdza ona, że organizmy o korzystnych cechach mają większe szanse na przetrwanie i rozmnażanie się, przekazując te cechy swojemu potomstwu. Proces ten, trwający miliony lat, doprowadził do ogromnej różnorodności życia na Ziemi.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Zobacz</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Udostępnij</button>
                </div>
                <small class="text-muted">5 mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
</section>

