@using RWSS.Data.Enum
@using RWSS.ViewModels.Events
@model EditEventViewModel

<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="Title">Tytuł</label>
        <input asp-for="Title" class="form-control" placeholder="Tytuł">
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description">Opis</label>
        <input asp-for="Description" class="form-control" placeholder="Opis">
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventCategory">Kategoria wydarzenia</label>
        <select asp-for="EventCategory" asp-items="@Html.GetEnumSelectList<EventCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="EventCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PlaceOfEventCategory">Miejsce wydarzenia</label>
        <select asp-for="PlaceOfEventCategory" asp-items="@Html.GetEnumSelectList<PlaceOfEventCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="PlaceOfEventCategory" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="EventDate" class="control-label"></label>
        <input asp-for="EventDate" class="form-control" />
        <span asp-validation-for="EventDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="YearCategory">Studentów którego roku dotyczy?</label>
        <select asp-for="YearCategory" asp-items="@Html.GetEnumSelectList<YearCategory>()" class="form-control">
            <option selected="selected" value="">--Wybierz--</option>
        </select>
        <span asp-validation-for="YearCategory" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Zatwierdź</button>
</form>